//  Ryze UI
//  Buttons
//

a.btn,
.btn,
input[type="submit"],
button {
  display: inline-block;
  padding: .8em 1.25em .9em;
  font-family: inherit;
  font-weight: 700;
  font-size: .86em;
  text-decoration: none;
  line-height: .86em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border: .1em solid black;
  outline: none;
  padding: 0.65em 1.3em 0.75em;
  color: #fff;}

a.btn-lg,
.btn-lg {
  padding: 1em 1.65em 1.05em;}

a.btn-md,
.btn-md {
  padding: .8em 1.25em .9em;}

a.btn-sm,
.btn-sm,
a.btn-xs,
.btn-xs {
  font-size: .85em;
  padding: .5em 1em .6em;}

a.btn-xs,
.btn-xs {
  font-size: .75em;
  padding: .25em .75em .3em;}

// Colors
@mixin btn($btncolor){
  box-shadow: inset 0 2px 0 rgba(black,0.05);
  border: 1px solid darken($btncolor,4.5%);
  background: $btncolor;
  &:hover {
    background: linear-gradient($btncolor, darken($btncolor,5%));
  }
}

.btn-default {
  @include btn($night);
  background: lighten($night,10%);
}
.btn-primary { @include btn($night);}
.btn-success { @include btn($green);}
.btn-info    { @include btn($blue);}
.btn-danger  { @include btn($red);}
.btn-warning { @include btn($yellow);}

// Social
.btn-facebook {
  &.connected {
    @include btn(#3c689f);
    color: #fff;
  }
}
.btn-googleplus {
  &.connected {
    @include btn(#d16847);
    color: #fff;
  }
}
.btn-twitter {
  &.connected {
    @include btn(#3b89b1);
    color: #fff;
  }
}