//  Esportsify UI
//  Documentation
//

// Frameworks
//
@import '../../scss/normalize';
@import '../../scss/susy';
@import '../../scss/esui';

// Google Fonts
//
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

body {
  font-family: "Source Sans Pro", sans-serif;
  @include font-smoothing;
  background: #fff;
}

//  Top Nav
//
.nav-bar {
  background: #3a3a3a;
}

// Documentation
//
.doc-hero {
  float: left;
  clear: both;
  width: 100%;
  padding: 130px;
  background: $night;
  text-align: center;
  color: #fff;
  img {
    width: 300px;
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 38px;
    margin-bottom: 6px;
  }
  cite {
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
  }
  iframe {
    margin: 15px 5px;
  }
}

// Aside
//
.docs-aside {
  @include span(3 of 12);
  background: #fafafa;
  padding: 32px 20px;
}

// Document Containment
//
.doc {
  @include span(9 of 12 last);
  background: #fff;
}