//  Esportsify UI
//  NavBars
//

.navbar {
  float: left;
  width: 100%;
  background: $red;

  ul, li {
    margin: 0;
    padding: 0;
  }

  // Inline Navbar
  //
  &.nav-inline {
    border: 1px solid black;
    li {
      display: inline;
      margin: 0 5
    }
  }
  
  // Pull Navigations
  //
  @mixin pull($lr) {
    &.pull-#{$lr} {
      ul {
        float: $lr;
      }
    }
  }
  
  // Pull Navs
  //
  @include pull(left);
  @include pull(right);

}