//  Esportsify UI
//  NavBars
//

.navbar {
  float: left;
  width: 100%;
  background: $red;

  ul, li {
    margin: 0;
    padding: 0;
  }

  // Inline Navbar
  //
  &.nav-inline {
    li {
      position: relative;
      display: inline;
      margin: 0 2px;
      a {
        display: inline-block;
        padding: .5em .65em;
        font-size: .85em;
        color: #fff;
      }
    }
  }
  
  // Pull Navigations
  //
  @mixin pull($lr) {
    &.pull-#{$lr} {
      ul {
        float: $lr;
      }
    }
  }
  
  // Pull Navs
  //
  @include pull(left);
  @include pull(right);

}