//  Esportsify UI
//  Typography
//


// Links
//
a, 
a:link, 
a:visited, 
a:hover {
  text-decoration: none;
}

// Headings
//
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 700;
  @include font-smoothing;
  line-height: 1.4em;
  margin: 0 0 .333em 0;
  color: lighten($night,10%);
}

// Copy
//
p {
  font-family: inherit;
  font-weight: 500;
  @include font-smoothing;
  font-size: 1.111em;
  color: lighten($night,10%);

  // Lead Copy
  //
  &.lead {
    font-size: 1.333em;
    color: lighten($night,30%);
  }
}

// Horizontal Rules
//
hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.11111rem 0 1.05556rem; 
}