@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

*, div, input, :before, :after, select, textarea {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

html {
  display: block;
  height: 100vh; }

body {
  min-height: 100vh;
  background: #f8f8f8;
  font-size: 16px; }

.esc-fluid {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .esc-fluid:after {
    content: " ";
    display: block;
    clear: both; }

@media screen and (max-width: 767px) {
  .esc {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .esc:after {
      content: " ";
      display: block;
      clear: both; } }
@media screen and (min-width: 768px) {
  .esc {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto; }
    .esc:after {
      content: " ";
      display: block;
      clear: both; } }
@media screen and (min-width: 970px) {
  .esc {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto; }
    .esc:after {
      content: " ";
      display: block;
      clear: both; } }
@media screen and (min-width: 1200px) {
  .esc {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
    .esc:after {
      content: " ";
      display: block;
      clear: both; } }

@media screen and (max-width: 767px) {
  .esc-sm {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .esc-sm:after {
      content: " ";
      display: block;
      clear: both; } }
@media screen and (min-width: 768px) {
  .esc-sm {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto; }
    .esc-sm:after {
      content: " ";
      display: block;
      clear: both; } }

.esc-row {
  float: left;
  width: 100%; }
  .esc-row:before, .esc-row:after {
    content: " ";
    display: table; }
  .esc-row:after {
    clear: both; }

a,
a:link,
a:visited,
a:hover {
  text-decoration: none; }

.section {
  float: left;
  position: relative;
  clear: both;
  width: 100%; }
  .section:before, .section:after {
    content: " ";
    display: table; }
  .section:after {
    clear: both; }

.nav-bar {
  float: left;
  width: 100%;
  background: #cb3837; }
  .nav-bar ul, .nav-bar li {
    margin: 0;
    padding: 0; }
  .nav-bar.nav-inline li {
    position: relative;
    display: inline;
    margin: 0 2px; }
    .nav-bar.nav-inline li a {
      display: inline-block;
      padding: .5em .65em;
      font-size: .85em;
      color: #fff; }
  .nav-bar.pull-left ul {
    float: left; }
  .nav-bar.pull-right ul {
    float: right; }

.nav-side {
  float: left;
  width: 100%; }
  .nav-side ul, .nav-side li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .nav-side li {
    float: left;
    clear: both;
    width: 100%;
    margin: 0; }
    .nav-side li.heading {
      color: #4693e2;
      font-size: 0.77778em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 4px 0; }
    .nav-side li.divider {
      margin: 16px 0;
      padding: 0;
      height: 0;
      border-top: 1px solid #e6e6e6; }
    .nav-side li a {
      font-size: 0.8899em;
      color: #1e6dbe;
      display: block;
      line-height: 26px; }
      .nav-side li a:hover {
        margin: 0 -20px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgba(0, 0, 0, 0.03); }

body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff; }

.nav-bar {
  background: #3a3a3a; }

.doc-hero {
  float: left;
  clear: both;
  width: 100%;
  padding: 130px;
  background: #2a303c;
  text-align: center;
  color: #fff; }
  .doc-hero img {
    width: 300px;
    max-width: 100%;
    height: auto; }
  .doc-hero h1 {
    font-size: 38px;
    margin-bottom: 6px; }
  .doc-hero cite {
    font-size: 28px;
    font-weight: 300;
    font-style: normal; }
  .doc-hero iframe {
    margin: 15px 5px; }

.docs-aside {
  width: 23.7288135593%;
  float: left;
  margin-right: 1.6949152542%;
  background: #fafafa;
  padding: 32px 20px; }

.doc {
  width: 74.5762711864%;
  float: right;
  margin-right: 0;
  background: #fff; }
